@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.link-tag {
    text-decoration: none;
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
}

.nav-bar {
    background: transparent;
    padding: 2%;
}

button {
    color: white !important;
}

.title {
    color: #41bca6;
}
