@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


div {
    color: white;
}
/*#18242c*/
.presentation {
    font-size: 5vw;
    font-family: 'Nanum Gothic Coding', monospace;
    position: relative;
    font-weight: bold;
    bottom: 100px;
}

.description {
    position: relative;
    bottom: 100px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 2vw;
}

.button {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-family: 'Nanum Gothic Coding', monospace;
    transition: all .4s ease-in-out ;
    display: inline-block;
    font-size: 60%;
}

.button:hover {
    transform: scale(1.2);
    animation: 5s ease infinite gradient;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 900%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}